apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority: ~/.kube/ca.crt
    server: "{{ lookup('env','KUBERNETES_SERVER') }}"
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: {{ username }}
  name: {{ username }}@kubernetes
current-context: {{ username }}@kubernetes
users:
- name: {{ username }}
  user:
    client-certificate: {{ kubeconfig_out_dir }}/{{ username }}.crt
    client-key: {{ kubeconfig_out_dir }}/{{ username }}.key
